h1 {
    color:#d6264f;
}

a {
    text-decoration:none;
}

#page {
    width:750px;
}

#navbar {
    background-color:#d6264f;
    text-color:white;
    font-size:36px;
}
#navbar a:link {color:white;}
#navbar a:visited {color:white;}
#navbar a:hover {color:black;}
#navbar a:focus {color:black;}
#navbar a:active {color:black;}

#toc {
    width:100px;
    height:1500px;
    background-color:green;
    text-color:white;
    text-align:center;
    float:left;
}
#toc a:link {color:white;}
#toc a:visited {color:white;}
#toc a:hover {color:red;}
#toc a:focus {color:red;}
#toc a:active {color:red;}
#toc h1 {color:white;font-family:courier;font-size:15px;}

#main {
    float:left;
    width:650px;
    height:1500px;
}

#footer {
    text-align:center;
    clear:both;
}

#about {
    width:500px;
    font-family:courier;
    font-size:16px;
}
