/* *****************************************************************************
 * Banner
 * ****************************************************************************/
#banner {
    margin-bottom:4px;
}
#banner img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* *****************************************************************************
 * Navigation Bar
 * ****************************************************************************/
#nav {
    background-color:#d6264f;
}
#nav ul {
    list-style-type:none;
    min-width:900px;
    margin:0;
    padding:0;
    text-align:center;
    overflow:hidden;
}
#nav li {
    display:inline;    
}
#nav a:link, a:visited {
    display:inline-block;
    width:200px;
    padding:4px;

    font-size:2em;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    
    background-color:#d6264f;
    color:white;
}
#nav a:hover, a:active {
    background-color:#a31d3c;
}

/* *****************************************************************************
 * About Section 
 * ****************************************************************************/
#about {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Courier New";
}
#about p {
    text-indent:2em;
}
#about a:link, #about a:visited, #about:hover {
    color:black;
}
#about a:active {
    color:gray;
    background-color:white;
}

/* *****************************************************************************
 * Images 
 * ****************************************************************************/
#images {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Courier New";
}
#images p {
    text-indent:2em;
}

/* *****************************************************************************
 * Contact 
 * ****************************************************************************/
#michael, #udit {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Courier New";
}
#michael img {
    float:left;
    height:200px;
    width:auto;
    margin-right:1em;
}
#udit img {
    float:right;
    height:200px;
    width:auto;
    margin-left:1em;
}
#michael h1, #udit h1 {
    text-align:center;
}
#michael a, #udit a {
    /* TODO: center the email addresses */
}
#michael a:link, #michael a:visited, #michael a:hover,
#udit a:link, #udit a:visited, #udit a:hover {
    color:blue;
}
#michael a:active, #udit a:active {
    color:purple;
    background-color:white;
}
#michael ul, #udit ul {
    list-style-type:none;
}
