/* *****************************************************************************
 * Banner
 * ****************************************************************************/
#banner {
    margin-bottom:4px;
}
#banner img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* *****************************************************************************
 * Navigation Bar
 * ****************************************************************************/
#nav {
    background-color:#d6264f;
}
#nav ul {
    list-style-type:none;
    min-width:900px;
    margin:0;
    padding:0;
    text-align:center;
    overflow:hidden;
}
#nav li {
    display:inline;    
}
#nav a:link, a:visited {
    display:inline-block;
    width:200px;
    padding:4px;

    font-size:2em;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    
    background-color:#d6264f;
    color:white;
}
#nav a:hover, a:active {
    background-color:#a31d3c;
}

/* *****************************************************************************
 * Home
 * ****************************************************************************/
#blog {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Courier New";
}
#lights {
    width:50px;
    margin-left:auto;
    margin-right:auto;
}

/* *****************************************************************************
 * Blog 
 * ****************************************************************************/
#blog article {
    margin-top:25px;
    margin-bottom:25px;

    padding-top:10px;
    padding-right:25px;
    padding-bottom:25px;
    padding-left:25px;
    border:solid 3px black;
}
h2.blog-title{
    position:relative;
    width:1000px;
    line-height:50px;
    left:-78px;
    margin-bottom:0;
    text-align:center;

    background-color:#60b22e;
    color:white;
    text-shadow:black 0.1em 0.1em 0.2em;
}
#triangle-topright {
    width: 0;
    height: 0;
    border-top: 25px solid #458021;
    border-left: 50px solid transparent;

    position:relative;
    float:left;
    left:-78px;
}
#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 25px solid #458021;
    border-right: 50px solid transparent;
    
    position:relative;
    float:left;
    left:822px;
}
p.blog-date {
    clear:both;
    text-align:right;
}
p.blog-post {
    text-indent:2em;
}
p.blog-author {
    text-align:right;
}
ul.blog-media {
    text-align:right;
    list-style-type:none;
}
ul.blog-media a:link, ul.blog-media a:visited, ul.blog-media a:hover {
    color:blue;
    text-decoration:none;
    background-color:none;
}
ul.blog-media a:active {
    color:purple;
    background-color:white;
}
/* *****************************************************************************
 * About Section 
 * ****************************************************************************/
#about {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Courier New";
}
#about p {
    text-indent:2em;
}
#about a:link, #about a:visited, #about a:hover {
    color:black;
    background-color:none;
}
#about a:active {
    color:gray;
    background-color:none;
}

/* *****************************************************************************
 * Media 
 * ****************************************************************************/
#images {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Courier New";
}
#images li {
    margin:10px;
}
#images a {
    font-size:1.25em;
    padding:2px;
}
#images a:link, #images a:visited, #images a:hover {
    text-decoration:none;
    color:blue;
    background-color:none;
}
#images a:hover {
    background-color:#60b22e;
    color:white;
    box-shadow: 5px 5px 3px #294D14;
}
#images a:active {
    text-decoration:none;
    background-color:none;
    color:purple;
}
#pane {
    background-image:url("../Media/Polaroid.jpg");
    background-size:100%;
    box-shadow:0.5em 0.5em 1em black;

    margin:0;
    border:1px solid gray;
    padding:0px;

    position:fixed;
    z-index:-1;
    width:450px;
    height:493px;
    left:850px;
    top:250px;
}
#preview {
    margin:0;
    border:0;
    padding:0;

    position:relative;
    left:31px;
    top:30px;
    width:390px;
    height:355px;

    overflow:hidden;
    background-image:url("");
    background-position:center center;
    background-size: 100%;
    background-repeat:no-repeat;
}
#previewText {
    position:fixed;
    left:800px; 
    top:670px; 

    width:552px;
    line-height:50px;
    margin:0;
    padding:0;
    text-align:center;

    background-color:#60b22e;
    color:white;
    text-shadow:black 0.1em 0.1em 0.2em;
}
div.triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 25px solid #458021;
    border-left: 50px solid transparent;

    position:fixed;
    left:800px;
    top:645px;
}
div.triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 25px solid #458021;
    border-right: 50px solid transparent;

    position:fixed;
    left:1302px;
    top:645px;
}
/* *****************************************************************************
 * Contact 
 * ****************************************************************************/
#michael, #udit {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Courier New";
}
hr {
    height:14px;
    background:url('../Media/Eighty_Character.png') no-repeat top center;
    border:0;
    margin-top:2em;
    margin-bottom:2em;
}
#michael img {
    float:left;
    height:200px;
    width:auto;
    margin-right:1em;
}
#udit img {
    float:right;
    height:200px;
    width:auto;
    margin-left:1em;
}
#michael h1, #udit h1 {
    text-align:center;
}
#email {
    clear:both;
    text-align:center;
}
#michael a:link, #michael a:visited, #michael a:hover,
#udit a:link, #udit a:visited, #udit a:hover {
    color:blue;
    background-color:none;
}
#michael a:active, #udit a:active {
    color:purple;
    background-color:none;
}
#michael ul, #udit ul {
    list-style-type:none;
}
#udit ul {
    padding:0;
}
